/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-top: 6px;
		margin-bottom: 12px;
		widows: 3;
		orphans: 3;
		margin-left: 2cm;
	}

	mcTableColumnStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableHeadStyle
	{
		background-repeat: no-repeat;
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
		cell-content-style-class: Safety_caution;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
		cell-content-style-class: safety_heading;
	}
}

@media CHM
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-weight: bold;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: warning;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 11;
	margin-top: 6px;
	margin-bottom: 6px;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 2px;
	background-image: none;
	page-break-inside: avoid;
	widows: 3;
	orphans: 3;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-content-style-class: safety_warning;
	text-align: left;
	vertical-align: bottom;
	cell-content-style-tag: p;
	cell-padding-bottom: 0px;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	cell-content-style-tag: p;
	cell-content-style-class: safety_heading;
	text-align: left;
	type: Automatic;
	background-repeat: no-repeat;
	vertical-align: top;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-warning
	{
		margin-left: 2cm;
		margin-top: 6px;
		margin-bottom: 12px;
		widows: 3;
		orphans: 3;
		border-spacing: 0px 0px;
	}

	.TableStyle-warning-HeadI-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-warning-HeadF-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-warning-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-HeadD-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-warning-HeadC-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-HeadA-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-HeadG-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-warning-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-warning-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-warning-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-warning-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-warning-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-warning-BodyH-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-warning-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-warning-BodyB-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}
}

@media CHM
{
	.TableStyle-warning
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-warning-HeadI-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadI-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadE-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadE-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadF-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadF-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadH-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadH-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadD-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadD-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadC-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadC-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadB-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadB-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadA-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadA-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadG-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-warning-HeadG-Column1-Header1 p
	{
		font-weight: bold;
	}
}

.TableStyle-warning
{
	border-collapse: separate;
	overflow: hidden;
	background-image: none;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-top: 6px;
	margin-bottom: 6px;
	page-break-inside: avoid;
	widows: 3;
	orphans: 3;
	border-spacing: 0px 0px;
}

.TableStyle-warning-Column-Column1
{
	
}

.TableStyle-warning-Head-Header1
{
	
}

.TableStyle-warning-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadI-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-warning-HeadE-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-warning-HeadF-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadH-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-warning-HeadD-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadC-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadB-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadA-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 44px;
	padding-bottom: 0px;
}

.TableStyle-warning-HeadG-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-warning-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootI-Column1- p
{
	
}

.TableStyle-warning-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-FootE-Column1- p
{
	
}

.TableStyle-warning-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootF-Column1- p
{
	
}

.TableStyle-warning-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-FootH-Column1- p
{
	
}

.TableStyle-warning-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootD-Column1- p
{
	
}

.TableStyle-warning-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootC-Column1- p
{
	
}

.TableStyle-warning-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-FootB-Column1- p
{
	
}

.TableStyle-warning-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootA-Column1- p
{
	
}

.TableStyle-warning-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-warning-FootG-Column1- p
{
	
}

.TableStyle-warning-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-warning-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-warning-BodyI-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-BodyE-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-warning-BodyF-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-BodyH-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-warning-BodyD-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-warning-BodyC-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-warning-BodyB-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-warning-BodyA-Column1-Body1 p
{
	
}

.TableStyle-warning-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-warning-BodyG-Column1-Body1 p
{
	
}


