@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "Manrope SemiBold";
  src: url(./fonts/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: "FiraCode Regular";
  src: url(./fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: "FiraCode SemiBold";
  src: url(./fonts/FiraCode-SemiBold.ttf);
}


:root {
  --header-height: 56px;
  --container-width: 1330px;
  --primary-color: #164293;
  --secondary-color: #89037a;
  --divider-color: #bdc1c5;
  --surface-50-color: #fafafa;
  --gray-50-color: #eeeff0;
  --gray-900-color: #5a646e;
  --link-hover-color: #4568a9;
  --etas-red: #e5004a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--surface-50-color);
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.internal-use-notice {
  font-size: 50px;
  font-family: 'Manrope SemiBold';
  color: var(--etas-red);
  text-align: center;
}

/* Header */
.navbar {
  height: var(--header-height);
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
}

.container-header {
  display: flex;
  align-items: center;
  width: var(--container-width);
  padding: 0 16px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 16px;
  margin-right: 16px;
}

.logo-link {
  display: inline-block;
}

.navbar-text {
  font-size: 16px;
  color: white;
  font-weight: normal;
}

/* Hero area */
.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-height: auto;
  width: 100%;
  padding: 40px 20px 10px 20px;
  flex-grow: 0;
  gap: 40px;
}

.hero-text {
  max-width: 40%;
  z-index: 2;
  flex-grow: 1;
  position: relative;
  align-items: center;
}

.hero-text h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.hero-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.hero-image {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start;
  max-width: 100%;
}

.hero-image img {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}

/* Divider */
.divider {
  width: 1295px;
  padding: 0 20px;
  height: 1px;
  background-color: var(--divider-color);
  margin: 20px auto;
}

/* Cards */
.card-container {
  max-width: 1330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  text-align: center;
  align-items: flex-start;
  width: 100%;
}

.card {
  width: 400px;
  height: 457px;
  border-radius: 8px;
  border: 1px solid var(--gray-50-color);
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.card:last-child {
  margin-bottom: 25px;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
  color: black;
}

.card-img {
  width: 352px;
  padding: 22px;
  height: 198px;
  margin-bottom: 24px;
  background-color: var(--gray-50-color);
  object-fit: contain;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary-color);
  text-decoration: none;
  gap: 8px;
}

.card a:hover {
  color: var(--link-hover-color);
}

.card-divider {
  width: 352px;
  height: 1px;
  background-color: var(--divider-color);
  margin: 16px 0;
  flex-shrink: 0;
  transform: scaleY(0.9);
}

/* Footer */
.container-footer {
  max-width: 1300px;
  margin: 0 auto;
  flex-grow: 1;
}
.footer {
  font-family: "Manrope SemiBold";
  font-size: 14px;
  line-height: 22px;
  border-top: 1px solid var(--gray-50-color);
  background-color: var(--surface-50-color);
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-left,
.footer-right {
  display: flex;
  gap: 16px;
}

.copyright {
  font-family: "Manrope";
  font-size: 14px;
  line-height: 44px;
}

.footer a {
  color: var(--gray-900-color);
  text-decoration: none;
  line-height: 44px;
}

.footer a:hover {
  color: var(--link-hover-color);
}


/* 2 cards per column */
@media (max-width: 900px) {
  .card-container {
    justify-content: center;
  }
}



/* 1 card per column */
@media (max-width: 600px) {
  .card-container {
    justify-content: center;
  }
}


/**/
@media (max-width: 870px) {
  .container.hero {
    flex-direction: column;
    height: auto;
  }

  .hero-text {
    max-width: 100%;
    text-align: left;
  }

  .hero-image {
    max-width: 60%;
    order: -1;
  }
}

/*Footer padding for screens smaller than 1300px*/
@media (max-width: 1300px) {
  .container-footer {
    padding: 0 16px; 
  }
}



/* Footer adjustments for screen sizes smaller than 667px */
@media (max-width: 667px) {
  .footer {
    height: auto; 
    padding: 8px 0; 
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .footer-left,
  .footer-right {
    display: block;
    text-align: center;
  }

  .footer a {
    display: block;
    margin: 2px 0;
  }
}
