/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-top: 6px;
		margin-bottom: 12px;
		widows: 3;
		orphans: 3;
		margin-left: 2cm;
	}

	mcTableColumnStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
	}

	mcTableHeadStyle
	{
		background-repeat: no-repeat;
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
		cell-content-style-class: Safety_caution;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #000000;
		cell-content-style-class: safety_heading;
	}
}

@media CHM
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-weight: bold;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: attention;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 11;
	margin-top: 6px;
	margin-bottom: 6px;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 2px;
	background-image: none;
	page-break-inside: avoid;
	mc-hide-bottom-ruling: false;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-content-style-class: safety_attention;
	text-align: left;
	vertical-align: bottom;
	cell-content-style-tag: p;
	cell-padding-bottom: 0px;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	cell-content-style-tag: p;
	cell-content-style-class: safety_text;
	text-align: left;
	type: Automatic;
	background-repeat: no-repeat;
	vertical-align: top;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-attention
	{
		margin-left: 2cm;
		margin-top: 6px;
		margin-bottom: 12px;
		widows: 3;
		orphans: 3;
		border-spacing: 0px 0px;
	}

	.TableStyle-attention-HeadI-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-attention-HeadF-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-attention-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-HeadD-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-attention-HeadC-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-HeadA-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-HeadG-Column1-Header1
	{
		background-image: url('../Graphics/Symbol/SafetyVar_line.png');
		background-repeat: no-repeat;
	}

	.TableStyle-attention-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-attention-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-attention-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-attention-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-attention-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-attention-BodyH-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}

	.TableStyle-attention-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #000000;
		border-bottom-style: none;
	}

	.TableStyle-attention-BodyB-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #000000;
		border-right-style: none;
	}
}

@media CHM
{
	.TableStyle-attention
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-attention-HeadI-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadI-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadE-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadE-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadF-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadF-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadH-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadH-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadD-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadD-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadC-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadC-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadB-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadB-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadA-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadA-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadG-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-attention-HeadG-Column1-Header1 p
	{
		font-weight: bold;
	}
}

.TableStyle-attention
{
	border-collapse: separate;
	mc-hide-bottom-ruling: false;
	overflow: hidden;
	background-image: none;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-top: 6px;
	margin-bottom: 6px;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-attention-Column-Column1
{
	
}

.TableStyle-attention-Head-Header1
{
	
}

.TableStyle-attention-HeadI-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadI-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadE-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-attention-HeadE-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadF-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-attention-HeadF-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadH-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadH-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadD-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-attention-HeadD-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadC-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadC-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadB-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadB-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadA-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadA-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-HeadG-Column1-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	background-image: url('../Graphics/Symbol/SafetyVar_line.png');
	background-repeat: no-repeat;
	background-position-x: 3px;
	background-position-y: 35px;
	padding-bottom: 0px;
}

.TableStyle-attention-HeadG-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-attention-FootI-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootI-Column1- p
{
	
}

.TableStyle-attention-FootE-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-FootE-Column1- p
{
	
}

.TableStyle-attention-FootF-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootF-Column1- p
{
	
}

.TableStyle-attention-FootH-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-FootH-Column1- p
{
	
}

.TableStyle-attention-FootD-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootD-Column1- p
{
	
}

.TableStyle-attention-FootC-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootC-Column1- p
{
	
}

.TableStyle-attention-FootB-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-FootB-Column1- p
{
	
}

.TableStyle-attention-FootA-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootA-Column1- p
{
	
}

.TableStyle-attention-FootG-Column1-
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.TableStyle-attention-FootG-Column1- p
{
	
}

.TableStyle-attention-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-attention-BodyI-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-attention-BodyI-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyE-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-BodyE-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyF-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-attention-BodyF-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyH-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-BodyH-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyD-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-attention-BodyD-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyC-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-attention-BodyC-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyB-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-attention-BodyB-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyA-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-attention-BodyA-Column1-Body1 p
{
	
}

.TableStyle-attention-BodyG-Column1-Body1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
	background-repeat: no-repeat;
}

.TableStyle-attention-BodyG-Column1-Body1 p
{
	
}


