/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 20mm;
		margin-top: 6pt;
		margin-bottom: 12pt;
		cell-padding-left: 4pt;
		cell-padding-right: 2pt;
		cell-padding-top: 4pt;
		cell-padding-bottom: 2pt;
		border-collapse: collapse;
		margin-right: 0pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		cell-content-style-class: table_head;
	}

	mcTableBodyStyle
	{
		cell-content-style-class: table_default_eng;
	}

	mcTableFootStyle
	{
		
	}
}

@media CHM
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-weight: bold;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: table2;
	border-collapse: collapse;
	max-id: 3;
	border-spacing-y: 2;
	border-spacing-x: 2;
	cell-padding-top: 2pt;
	cell-padding-bottom: 2pt;
	cell-padding-left: 4pt;
	cell-padding-right: 6pt;
	widows: 3;
	orphans: 3;
	mc-hide-bottom-ruling: false;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-top-style: solid;
	border-top-width: 0.5pt;
	border-bottom-style: solid;
	border-bottom-width: 0.5pt;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-content-style-class: table_default;
	cell-content-style-tag: p;
	cell-padding-left: 4pt;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	cell-content-style-tag: p;
	cell-content-style-class: table_head;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
	page-break-inside: avoid;
	cell-content-style-tag: p;
	cell-content-style-class: table_default;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0.5pt;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: table_default;
	vertical-align: bottom;
	text-align: left;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-table2
	{
		border-collapse: collapse;
		margin-left: 20mm;
		margin-right: 0pt;
		margin-top: 6pt;
		margin-bottom: 12pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-table2-HeadI-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadE-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadF-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadH-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadD-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadC-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadB-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadA-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-HeadG-Column1-Header1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootI-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootE-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootF-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootH-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootD-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootC-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootB-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootA-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-FootG-Column1-Footer1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyI-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyE-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyF-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyH-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyD-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyC-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyB-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyA-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}

	.TableStyle-table2-BodyG-Column1-Body1
	{
		padding-right: 2pt;
		padding-top: 4pt;
		padding-bottom: 2pt;
	}
}

@media CHM
{
	.TableStyle-table2
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-table2-HeadI-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadI-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadE-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadE-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadF-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadF-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadH-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadH-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadD-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadD-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadC-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadC-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadB-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadB-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadA-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadA-Column1-Header1 p
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadG-Column1-Header1
	{
		font-weight: bold;
	}

	.TableStyle-table2-HeadG-Column1-Header1 p
	{
		font-weight: bold;
	}
}

.TableStyle-table2
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: false;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0.5pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0.5pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	widows: 3;
	orphans: 3;
	border-spacing: 2px 2px;
}

.TableStyle-table2-Column-Column1
{
	
}

.TableStyle-table2-Head-Header1
{
	
}

.TableStyle-table2-HeadI-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadI-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadE-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table2-HeadE-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadF-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table2-HeadF-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadH-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadH-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadD-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table2-HeadD-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadC-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadC-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadB-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadB-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadA-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadA-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-HeadG-Column1-Header1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

.TableStyle-table2-HeadG-Column1-Header1 p
{
	font-weight: normal;
}

.TableStyle-table2-Foot-Footer1
{
	
}

.TableStyle-table2-FootI-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootI-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootE-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: bottom;
	border-top-width: 0.5pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table2-FootE-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootF-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
	border-top-width: 0.5pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table2-FootF-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootH-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootH-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootD-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
	border-top-width: 0.5pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table2-FootD-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootC-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootC-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootB-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootB-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootA-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootA-Column1-Footer1 p
{
	
}

.TableStyle-table2-FootG-Column1-Footer1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	padding-left: 4pt;
	text-align: left;
	vertical-align: bottom;
}

.TableStyle-table2-FootG-Column1-Footer1 p
{
	
}

.TableStyle-table2-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-table2-BodyI-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
}

.TableStyle-table2-BodyI-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyE-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-table2-BodyE-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyF-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4pt;
}

.TableStyle-table2-BodyF-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyH-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-table2-BodyH-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyD-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 4pt;
}

.TableStyle-table2-BodyD-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyC-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
}

.TableStyle-table2-BodyC-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyB-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-table2-BodyB-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyA-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
}

.TableStyle-table2-BodyA-Column1-Body1 p
{
	
}

.TableStyle-table2-BodyG-Column1-Body1
{
	padding-right: 6pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: left;
	vertical-align: top;
	padding-left: 4pt;
}

.TableStyle-table2-BodyG-Column1-Body1 p
{
	
}


